name: Deploy

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install

      - name: Build with ENV
        run: npm run build
        env:
          VITE_GITHUB_API_KEY: ${{ secrets.VITE_GITHUB_API_KEY }}

      - name: Debug secret
        run: |
          if [ -z "$VITE_GITHUB_API_KEY" ]; then
            echo "❌ SECRET MISSING"
          else
            echo "✅ SECRET PRESENT"
            echo "Length: ${#VITE_GITHUB_API_KEY}"
          fi

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          force_orphan: true
